[Unit]
Description=dboxed sandbox {{ .SandboxName }}
Documentation=https://dboxed.io
After=network.target local-fs.target

[Service]
ExecStart={{ .ExePath }} \
    --workspace={{ .WorkspaceId }} \
    --client-auth-file={{ .ClientAuthFile }} \
    sandbox run {{ .BoxId }} \
    --sandbox-name={{ .SandboxName }} \
    {{ .ExtraArgs }}

ExecStop={{ .ExePath }} \
    sandbox stop {{ .SandboxName }}

Type=simple
RemainAfterExit=yes

Delegate=yes
KillMode=process
Restart=always
RestartSec=5
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
# Comment TasksMax if your systemd version does not supports it.
# Only systemd 226 and above support this version.
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
